<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="shop-introduction">
  <h2 class="intro-title">池尻にある<br>大人の隠れ家</h2>
  
  <p class="intro-subtitle">
    Feel the Wind of the Tokugawa River<br>
    A quiet Japanese restaurant
  </p>

  <div class="intro-text-box">
    <p>尾張徳川家の屋敷跡地にある宝善亭。</p>
    <p>広さ七千坪の日本庭園「徳川園」と</p>
    <p>近世大名文化を今に伝える</p>
    <p>「徳川美術館」に隣接しています。</p>
    
    <p class="margin-top-md">桜、銀杏、紅葉など四季折々の</p>
    <p>美しい木々を愛で、</p>
    <p>代々受け継がれてきた宝物に</p>
    <p>心躍らせた後は、</p>
    <p>落ち着いた静かな和食処で</p>
    <p>美味しい料理に舌鼓を打つのは</p>
    <p>いかがでしょうか。</p>
  </div>
</div>